
*.meta

/Itch_survivor/Survivor/library
Itch_survivor/Survivor/library/.assets-info1.0.0.json
Itch_survivor/Survivor/library/56/56bf984e-a45a-421d-b463-e125dac0db36.json
Itch_survivor/Survivor/temp/profiles/packages/scene.json
Itch_survivor/Survivor/library/.assets-info1.0.0.json
Itch_survivor/Survivor/library/56/56bf984e-a45a-421d-b463-e125dac0db36.json
Itch_survivor/Survivor/profiles/v2/packages/scene.json
Itch_survivor/Survivor/temp/profiles/packages/scene.json
Itch_survivor/Survivor/temp/programming/packer-driver/targets/editor/assembly-record.json
Itch_survivor/Survivor/temp/programming/packer-driver/targets/editor/chunks/cb/cb550bfa09af3d98cc70507734d368ac10b5bae8.js
Itch_survivor/Survivor/temp/programming/packer-driver/targets/editor/main-record.json
Itch_survivor/Survivor/temp/programming/packer-driver/targets/preview/assembly-record.json
Itch_survivor/Survivor/temp/programming/packer-driver/targets/preview/chunks/cb/cb550bfa09af3d98cc70507734d368ac10b5bae8.js
Itch_survivor/Survivor/temp/programming/packer-driver/targets/preview/main-record.json
*/assets/免费通用UI素材

*.meta

library/*
temp/*

*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
build/*

# Node.js
*/node_modules/
*/CarEmpire/assets/免费通用UI素材
*/library/
*/temp/
*/build/
*/native
#//////////////////////////
# NPM
#//////////////////////////
*/node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
*/.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
*/.idea/
*/assets/Scripts/DataCollection.ts.meta

*/extensions
/Itch_survivor/Survivor/extensions
/coco_mcp_test
